<div class="footer">
    <div class="social-media">
        <a href="https://soundcloud.com/freemindead" target="_blank"><i class="fa fa-soundcloud" aria-hidden="true"></i></a>
        <a href="https://instagram.com/freemindead" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://facebook.com/freemindead" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://twitter.com/freemindead" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://snapchat.com/add/freemindead" target="_blank"><i class="fa fa-snapchat" aria-hidden="true"></i></a>
        <a href="https://spotify.com/freemindead" target="_blank"><i class="fa fa-spotify" aria-hidden="true"></i></a>
    </div>
</div>