<header id="navbar-top" class="banner navbar navbar-default" role="banner">
	<div class="container">
		<div class="navbar-inner">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="brand-social-media">
      	<div class="social-media">
      		<a href="https://soundcloud.com/freemindead" target="_blank"><i class="fa fa-soundcloud" aria-hidden="true"></i></a>
      		<a href="https://instagram.com/freemindead" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      		<a href="https://facebook.com/freemindead" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      		<span class="spacer"></span>
      		<a href="https://twitter.com/freemindead" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      		<a href="https://snapchat.com/add/freemindead" target="_blank"><i class="fa fa-snapchat" aria-hidden="true"></i></a>
      		<a href="https://spotify.com/freemindead" target="_blank"><i class="fa fa-spotify" aria-hidden="true"></i></a>
      	</div>
				<a class="brand" href="/">Free Mindead</a>
			</div>

			<nav class="navbar-collapse collapse" role="navigation">
				<ul id="menu-primary-navigation-en" class="nav navbar-nav">
					<li class="menu-social">
						<a href="https://soundcloud.com/freemindead" target="_blank"><i class="fa fa-soundcloud" aria-hidden="true"></i></a>
            <a href="https://instagram.com/freemindead" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://facebook.com/freemindead" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <span class="spacer"></span>
            <a href="https://twitter.com/freemindead" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://snapchat.com/add/qflagg" target="_blank"><i class="fa fa-snapchat" aria-hidden="true"></i></a>
            <a href="https://spotify.com/freemindead" target="_blank"><i class="fa fa-spotify" aria-hidden="true"></i></a>
					</li>
					<li class="menu-home"><a href="/">Home</a></li>
					<li class="menu-music"><a href="/music">Music</a></li>
					<li class="menu-contact"><a href="/contact">Contact</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>