@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import "navbar";
@import "music";
@import "contact";
@import "footer";

body {
    background: url('/images/flyingbirds/MP4/Flying-Birds.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}