// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact-main {
    margin-top: 30px;
    min-height: 220px;
    border-radius: 5px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    font-size: 40px;
    padding: 40px;
    max-width: 400px;
    color: white;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;

    a {
    	text-decoration: none;
    	color: white;

    	&:hover {
    		cursor: pointer;
    	}
    }
}
