// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact-main {
	background-color: #fff;
	margin-top: 100px;
	min-height: 500px;
	border-radius: 5px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	text-align: center;
    font-size: 40px;
    padding: 40px;
}
