.footer {
  height: 50px;
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 0;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  letter-spacing: 10px;

  a { color: white; }
}