<div class="container bio-main">
	<div class="bio-content">
	Quinn has always been one to be involved in music someway or another. When he was in high school, you would always find him in the music rooms playing drums,
	piano, guitar -- any instrument he could get his hands on. Quinn then went off to college to study computer science at SFSU where he discovered his passion of 
	producing music on the computer. <br/><br/> The rest is history. <br /><br /> Quinn is now currently at a music school in San Francisco called Pyramind where he will
	be stationed until September of 2017 :)
	</div>
</div>